@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #202020;
  --color-dark: #2D2D2D;
  --color-text-neutral: #787878;
  --color-primary: #CBFF00;
  --color-primary-hover: #DBFE52;
  --color-positive-bg: #F8FE9F;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f5f5f5;
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary-hover);
}

body.landing {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--color-background);
  color: #f5f5f5;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.cta-button {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  padding: 12px 28px;
  border-radius: 50px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.cta-button.primary {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.cta-button.primary:hover {
  background-color: var(--color-primary-hover);
}

.cta-button.secondary {
  background-color: var(--color-dark);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.cta-button.secondary:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-background);
}

html {
  scroll-behavior: smooth;
}
